<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ywh.mapper.YwhEndCourseinfoMapper">

    <resultMap id="ywh_end_courseinfoResult" type="Ywh_end_courseinfo">
        <id column="ciid" property="id"></id>
        <result column="ciname" property="name"></result>
        <result column="citeacher_name" property="teacher_name"></result>
        <collection property="Ywh_end_courses" ofType="Ywh_end_course">
            <id column="cid" property="id"></id>
            <result column="cname" property="name"></result>
        </collection>
    </resultMap>
   <!-- <select id="findYwh_end_menu_ById" resultMap="ywh_end_menuResult">
select r.id rid, r.name rname, m.id mid, m.name mname, m.path mpath from ywh_end_role r,ywh_end_menu m, ywh_end_role_menu rm
where r.id = rm.role_id and m.id = rm.menu_id and m.id = #{mid}
</select> !-->


    <select id="findYwh_end_courseinfoById" resultMap="ywh_end_courseinfoResult" >
select ci.id ciid, ci.name ciname, ci.teacher_name citeacher_name, c.id cid, c.name cname
from ywh_end_courseinfo ci,ywh_end_course c,ywh_end_course_courseinfo cc
where ci.id = cc.courseinfo_id and c.id = cc.course_id and c.id= #{cid}

</select>
</mapper>
